# Convert Marlin linear advance (M900) commands to Klipper (SET_PRESSURE_ADVANCE) commands.
# Used in conjunction with Marlin's linear advance calibration tool: 
# https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
    {% set pa = params.K|float %}
    SET_PRESSURE_ADVANCE ADVANCE={pa}

[gcode_macro M600]
gcode:
    _beep_filament_change
    PAUSE X=10 Y=10 Z_MIN=50

# source: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/replace_m109_m190_with_temp_wait.html
# date copy : 2023-04-14
[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

# Qoute:
# > this is where the awkwardness of JINJA (the shit in the {}) being a preprocessor shows up
# > the jinja stuff gets executed first, before any of the actual gcode does...
# so 2 macros are needed
[gcode_macro Shutdown_Printer]
gcode:
    {% if "xyz" in printer.toolhead.homed_axes %}
        _TOOLHEAD_PARK_PAUSE_CANCEL
    {% endif %}
    TURN_OFF_HEATERS
    M84
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=49
    STATUS_OFF
    G4 P5000
    _poweroff_printer

[gcode_macro _poweroff_printer]
gcode:
  {action_call_remote_method("set_device_power",
                             device="printer",
                             state="off")}
##################

[gcode_macro HEATSOAK]
gcode:
    STATUS_HEATING
    {% set DWELL = params.DWELL|default(600000)|int %}             # Heatsoaking duration, default is 10 minutes (600000 milliseconds)
    G4 P{DWELL}
    _beep_preheated


[gcode_macro PRINT_START]
gcode:
    
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(235)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(235)|float %}
    {% set Z_MAX = printer.toolhead.axis_maximum.z|default(200)|float %}
        
    {% set NOZZLE = printer.extruder.nozzle_diameter|default(0.4)|float %}
    {% set FILADIA = printer.extruder.filament_diameter|default(1.75)|float %}
    
    {% set X_START = 2.0|default(2.0)|float %}
    {% set Y_START = 10.0|default(10.0)|float %}
    
    {% set PRIMER_WIDTH = 1 * NOZZLE %}
    {% set PRIMER_HEIGHT = 0.5 * NOZZLE %}
    {% set PRIMER_SECT = PRIMER_WIDTH * PRIMER_HEIGHT %}
    {% set PRIMER_VOL = PRIMER_SECT * (Y_MAX - 3 - Y_START) * 2 %}
    {% set FILA_SECT = 3.1415 * ( FILADIA / 2.0) * ( FILADIA / 2.0) %}
    {% set FILA_LENGTH = 1.55 * PRIMER_VOL / FILA_SECT %}
    
    
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
    
    STATUS_HEATING
    RESPOND PREFIX= MSG="Waiting for bed temp"
    M117  Waiting for bed temp
    M107                                #turn off parts fan
    M104 S{EXTRUDER_TEMP|float*0.7} T0
    M190 S{BED_TEMP}
    
    _beep_caution_printer_moving
    G4 P3000


    {% if not "y" in printer.toolhead.homed_axes  %}
      _HOME_Y
    {% endif %}
    {% if not "x" in printer.toolhead.homed_axes  %}
      _HOME_X
    {% endif %}
    {% if not "Z" in printer.toolhead.homed_axes  %}
      G90
      G1 X{printer.toolhead.axis_maximum.x|float*0.5} Y{printer.toolhead.axis_maximum.y|float*0.44} F3000
      G28 Z
      G1 Z10
    {% endif %}

    Z_TILT_ADJUST

    
    SETUP_KAMP_MESHING DISPLAY_PARAMETERS=1 LED_ENABLE=1 FUZZ_ENABLE=1 probe_dock_enable=1 variable_led_enable=TRUE
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE


    G1 X{X_START} Y{Y_START-5} Z{PRIMER_HEIGHT} F6000.0
 
    STATUS_HEATING
    RESPOND PREFIX= MSG="Waiting for extruder temp..."
    M117  Waiting for extruder temp
    M109 S{EXTRUDER_TEMP} T0
    
    STATUS_CLEANING
    RESPOND PREFIX= MSG="Moving to prime position"
    M117 Moving to prime position
    G90
    G92 E0
    G1 X{X_START} Y{Y_START} Z{PRIMER_HEIGHT} F6000.0
    G1 X{X_START} Y{Y_MAX - 3 - Y_START} Z{PRIMER_HEIGHT} E{FILA_LENGTH} F2000.0
    G1 X{X_START + PRIMER_WIDTH} Y{Y_MAX - 3 - Y_START} Z{PRIMER_HEIGHT}
    G1 X{X_START + PRIMER_WIDTH} Y{Y_START} Z{PRIMER_HEIGHT} E{FILA_LENGTH*2} F2000.0
    G92 E0
    G1 Z2.0 F600
    G1 Z0.2 F600
    G1 Z2.0 F600
    
    STATUS_PRINTING
    

[gcode_macro PRINT_END]
gcode:
    {% set z = params.Z|default(1)|int %}   ; z hop amount

    M400                             ; wait for buffer to clear
    G91                              ; !relative positioning
    G1 E-0.2 F{30 * 60} 
    {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
        G1 Z{z} F900                                                                     ; raise Z up by z hop amount
    {% endif %}
    G90                              ; absolute positioning

    _beep_done
    _TOOLHEAD_PARK_PAUSE_CANCEL
    #G1 X{x_safe} Y{max_y} F6000
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan

    M400                             ; Finish Moves
    M221 S100                        ; reset flow to 100%
    M220 S100                        ; reset speed to 100%
  #  BED_MESH_CLEAR                  ; clear the bed mesh
    M117 Finished!

    STATUS_READY

