# source https://github.com/EricZimmerman/Voron24/blob/master/config/fans.cfg
# date: 2025-11-07 19:12:01

# This is a 'fake' chamber heater that enables bed fans which will stay on until chamber temp is reached
# This is a smarter way to do bed fans since it will slow down and then stop the fans as the chamber
# temp is achieved.
[heater_generic heater_chamber]
heater_pin: REPLACEME # this is the fan pin that controls bed fans
sensor_pin: REPLACEME # this is a chamber thermistor

sensor_type: ATC Semitec 104GT-2 

#Do not touch pid info or anything below here
control: pid 
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.3
min_temp: 1
max_temp: 110

#Do not touch pid info or anything here
[verify_heater heater_chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1


## Usage:
#  {% if temp_bed > 90 and printer.heater_chamber is defined %} 
#    SET_HEATER_TEMPERATURE heater=heater_chamber target=70
#    TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM=60
#  {% endif %}