# edited afc_brush


[gcode_macro _BRUSH_NOZZLE]
description: Wipe the nozzle on the brush
variable_brush_x: -1
variable_brush_y: -1
variable_brush_z: -1 # Set z to -1 if you dont want a z move
variable_brush_width: 35
variable_brush_depth:  6.5
variable_brush_count:  4
variable_z_hop: 20
gcode:

  {% set moveaccel         = params.MOVEACCEL      | default(2000)   | float %}
  {% set travel_speed      = params.TRAVEL_SPEED   | default(200)*60 | float %}
  {% set z_travel_speed    = params.TRAVEL_SPEED_Z | default(30)*60  | float %}
  {% set brush_clean_speed = params.BRUSH_SPEED    | default(150)*60 | float %}
  {% set verbose           = params.VERBOSE        | default(1)      | int %} # 1 true

  {% set th = printer.toolhead %}
  {% if th.homed_axes != "xyz" %}
    { action_raise_error("Printer not homed!") } 
  {% endif %}
  
  {% set x_max = th.axis_maximum.x %}
  {% set x_min = th.axis_minimum.x %}
  {% set y_max = th.axis_maximum.y %}
  {% set y_min = th.axis_minimum.y %}

  {% if brush_x < 0 or brush_y < 0 %}
    { action_raise_error("brush_x or brush_y is negative, aborting") }
  {% endif %}

  # Get min and max positions for brush moves
  {% set brush_x_max = brush_x + brush_width / 2 %}
  {% set brush_x_min = brush_x - brush_width / 2 %}
  {% set brush_y_max = brush_y + brush_depth / 2 %}
  {% set brush_y_min = brush_y - brush_depth / 2 %}

  {% set saved_accel = th.max_accel %}
  SET_VELOCITY_LIMIT ACCEL={moveaccel}


  {% if verbose == 1 %} RESPOND TYPE=command MSG='Brush: Move to Brush center.' {% endif %}

  G90
  {% if th.position.z < z_hop %} G1 Z{z_hop} F{z_travel_speed}  {% endif %} # z hop
  
  G1 X{brush_x} Y{brush_y} F{travel_speed}
  {% if brush_z >= 0 %} G1 Z{brush_z} F{z_travel_speed} {% endif %}
  
  {% if verbose == 1 %} RESPOND TYPE=command MSG='Brush: Y Brush Moves' {% endif %}
  {% for wipe in range(brush_count) %}
    {% if brush_y_min >= y_min %} G1 Y{brush_y_min} F{brush_clean_speed} {% endif %}
    {% if brush_y_max <= y_max %} G1 Y{brush_y_max} F{brush_clean_speed} {% endif %}
    G1 Y{brush_y} F{brush_clean_speed}
  {% endfor %}

  {% if verbose == 1 %} RESPOND TYPE=command MSG='Brush: X Brush Moves' {% endif %}
  {% for wipe in range(brush_count) %}
    {% if brush_x_min >= x_min %} G1 X{brush_x_min} F{brush_clean_speed} {% endif %}
    {% if brush_x_max <= x_max %} G1 X{brush_x_max} F{brush_clean_speed} {% endif %}
    G1 X{brush_x} F{brush_clean_speed}
  {% endfor %}

  G90

  # Reset acceleration values to what it was before
  SET_VELOCITY_LIMIT ACCEL={saved_accel}

  M400
