[gcode_macro CARTO_IDENTIFY_PLATE]
variable_plate_id: 0
variable_baseline: 0.0
variable_readings: []
gcode:
    {% set probe_x    = 0.5 %}
    {% set y_start    = 0.5 %}
    {% set pitch      = 39 %}     # 14mm strip + 25mm gap
    {% set num_strips = 4 %} # ATTENTION there is NO check for bounaries
    {% set threshold  = 0.5 %}

    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    # --- Baseline: probe a known bare spot just 
    # past the last strip: 
    # {% set y_bare = y_start + (num_strips * pitch) %}
    # G1 X{probe_x} Y{y_bare} F6000
    # we Trident so we Ztilt:
    G1 X{probe_x} Y{y_start} F6000
    {% set y_start = y_start +  pitch %}
    PROBE
    _CARTO_RECORD_BASELINE_RESULT
    
    G90
    G1 Z5 F3000
    
    SET_GCODE_VARIABLE MACRO=CARTO_IDENTIFY_PLATE VARIABLE=readings VALUE='[]'
    {% for i in range(num_strips) %}
      {% set y_pos = y_start + (i * pitch) %}
      G1 X{probe_x} Y{y_pos} F6000
      PROBE
      _CARTO_RECORD_PROBE_RESULT
    {% endfor %}

    G1 Z10 F3000
    _CARTO_PROCESS_PLATE_READINGS

[gcode_macro _CARTO_RECORD_BASELINE_RESULT]
gcode:
    SET_GCODE_VARIABLE MACRO=CARTO_IDENTIFY_PLATE VARIABLE=baseline VALUE={printer.probe.last_z_result}
    RESPOND MSG="Baseline (bare ref): {printer.probe.last_z_result}"
    
[gcode_macro _CARTO_RECORD_PROBE_RESULT]
gcode:
    {% set current = printer["gcode_macro CARTO_IDENTIFY_PLATE"].readings %}
    {% set val = printer.probe.last_z_result %}
    SET_GCODE_VARIABLE MACRO=CARTO_IDENTIFY_PLATE VARIABLE=readings VALUE='{current + [val]}'


[gcode_macro _CARTO_PROCESS_PLATE_READINGS]
gcode:
    {% set ns = namespace(binary="", plate_id=0) %}
    {% set readings  = printer["gcode_macro CARTO_IDENTIFY_PLATE"].readings %}
    {% set baseline  = printer["gcode_macro CARTO_IDENTIFY_PLATE"].baseline %}
    {% set threshold = 0.5 %}

    {% for r in readings %}
        {% if r >= baseline + threshold %}
            {% set ns.binary = ns.binary + "1" %}
        {% else %}
            {% set ns.binary = ns.binary + "0" %}
        {% endif %}
    {% endfor %}

    {% for bit in ns.binary %}
        {% set ns.plate_id = (ns.plate_id * 2) + bit | int %}
    {% endfor %}

    SET_GCODE_VARIABLE MACRO=CARTO_IDENTIFY_PLATE VARIABLE=plate_id VALUE={ns.plate_id}
    RESPOND MSG="Baseline:  {baseline}"
    RESPOND MSG="Readings:  {readings}"
    RESPOND MSG="Binary:    {ns.binary}"
    RESPOND MSG="Plate ID:  {ns.plate_id}"