####################
### MAIN Screen ####
#Credits/Source: Andreiva @ Vorondiscord
####################


[gcode_macro M73]
rename_existing: M773
variable_p: 0.0
variable_r: 0.0
gcode:
    M773 P{params.P|default(0)}
    SET_GCODE_VARIABLE MACRO=M73 VARIABLE=p VALUE={params.P|default(0)}
    SET_GCODE_VARIABLE MACRO=M73 VARIABLE=r VALUE={params.R|default(0)}


[display_data _default_16x4 print_progress]
position: 3, 0
text:
    {% if printer.display_status.message %}
      { "" }
    {% else %}
      { "{:^18.0%}".format(printer.display_status.progress) }
    {% endif %}

[display_data _default_16x4 progress_bar]
position: 2, 0
text:
    {% set ptime = printer["gcode_macro M73"].r %}
    {% set frame = (printer.toolhead.estimated_print_time|int % 2) + 1 %}
    {% if ptime==0 %}
      ~rclock~
    {% else %}
      ~rclock{frame}~
    {% endif %}
    { "%02d:%02d" % (ptime // 60, ptime % 60) }

[display_template _print_status]
text:
    { printer.display_status.message }

[display_template _fan_speed]
text:
  {% if 'fan' in printer %}
    {% set speed = printer.fan.speed %}
    {% if speed %}
      {% set frame = (printer.toolhead.estimated_print_time|int % 2) + 1 %}
      ~fan{frame}~
    {% else %}
      ~fan1~
    {% endif %}
    { " {:>4.0%}".format(speed) }
  {% endif %}


[display_data _default_16x4 fan]
position: 0, 9
text: { render("_fan_speed") }

[display_data _default_16x4 print_status]
position: 3, 0
text:   
    {% if printer.display_status.message %}
      { render("_print_status") }
    {% else %}
      { draw_progress_bar(3, 0, 16, printer.display_status.progress) }
    {% endif %}

[display_data _default_16x4 printing_time]
position: 2, 9
text: 
    ~gclock~
    { render("_printing_time").strip() }

[display_data _default_16x4 speed_factor]
position: 1, 9
text:
  ~z_offset~
  {% if printer.gcode_move.homing_origin.z<10 and printer.gcode_move.homing_origin.z>0 %}
  { "0%.2f" % (printer.gcode_move.homing_origin.z) }
  {% else %}
  { "%.2f" % (printer.gcode_move.homing_origin.z) }
  {% endif %}
  
  

#[display_data _default_16x4 ender_glyph1]
#position: 0, 6
#text:
#  ~ender_dragon1~

#[display_data _default_16x4 ender_glyph2]
#position: 0, 8
#text:
#  ~ender_dragon2~

#[display_data _default_16x4 ender_glyph3]
#position: 1, 6
#text:
#  ~ender_dragon3~

#[display_data _default_16x4 ender_glyph4]
#position: 1, 8
#text:
#  ~ender_dragon4~

[display_glyph gclock]
data:
  ................
  .....******.....
  ....*..**..*....
  ...*........*...
  ..*........*.*..
  .*...*....*...*.
  .*....*..*....*.
  .**....**....**.
  .**....**....**.
  .*............*.
  .*............*.
  ..*..........*..
  ...*........*...
  ....*..**..*....
  .....******.....
  ................


[display_glyph rclock]
data:
  ................
  ...**********...
  ..************..
  ..************..
  ...**********...
  ....********....
  .....******.....
  ......****......
  ......****......
  .....*....*.....
  ....*......*....
  ...*........*...
  ..*..........*..
  ..*..........*..
  ...**********...
  ................

[display_glyph rclock1]
data:
  ................
  ...**********...
  ..************..
  ..************..
  ...**********...
  ....********....
  .....******.....
  ......****......
  ......****......
  .....*.**.*.....
  ....*..**..*....
  ...*...**...*...
  ..*....**....*..
  ..*...****...*..
  ...**********...
  ................

[display_glyph rclock2]
data:
  ................
  ...**********...
  ..************..
  ..************..
  ...**********...
  ....********....
  .....******.....
  ......****......
  ......****......
  .....*.**.*.....
  ....*..**..*....
  ...*...**...*...
  ..*...****...*..
  ..*.********.*..
  ...**********...
  ................

[display_glyph fan1]
data:
  ................
  ......****......
  ....**...***....
  ...*..*...*.*...
  ..*..........*..
  ..**.........*..
  .**....**...*.*.
  .*....*..*....*.
  .*....*..*....*.
  .*.*...**....**.
  ..*.........**..
  ..*..........*..
  ...*.*...*..*...
  ....***...**....
  ......****......
  ................

[display_glyph fan2]
data:
  ................
  ......****......
  ....**.*..**....
  ...*....*...*...
  ..*.*......*.*..
  ..*..........*..
  .*.....**.....*.
  .*.*..*..*...**.
  .**...*..*..*.*.
  .*.....**.....*.
  ..*..........*..
  ..*.*......*.*..
  ...*...*....*...
  ....**..*.**....
  ......****......
  ................

[display_glyph ender_dragon1]
data:
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ..............*.
  ..............*.
  ...............*
  .......*********
  .****........***
  ....************
  .............***
  ...........*****
  ........***.....

[display_glyph ender_dragon2]
data:
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ...*............
  ..*.............
  ..*......*......
  *..*......*.....
  ******..*..*....
  *******..*..*...
  *****.**..*..*..
  *****..**..*.*..
  ...*******.***..

[display_glyph ender_dragon3]
data:
  ...*****........
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................
  ................

[display_glyph ender_dragon4]
data:
  ...************.
  .*******....***.
  ....****.....**.
  ......***....*..
  .......**.......
  ........**......
  ....*....**.....
  ***..*..**......
  ..******........
  ................
  ................
  ................
  ................
  ................
  ................
  ................

[display_glyph z_offset]
data:
  ................
  .......**.......
  .......**.......
  .....******.....
  ......****......
  .......**.......
  ................
  ....********....
  ................
  ....********....
  ................
  .......**.......
  ......****......
  .....******.....
  .......**.......
  .......**.......






####################
### MENU Screen ####
#Credits/Source: me
###################


# This file defines the default layout of the printer's menu.

# It is not necessary to edit this file to change the menu. Instead,
# one may override any of the sections defined here by defining a
# section with the same name in the main printer.cfg config file.

### DEFAULT MENU ###
# Main
#   + Tune
#       + Speed: 000%
#       + Flow: 000%
#       + Offset Z:00.00
#   + OctoPrint
#       + Pause printing
#       + Resume printing
#       + Abort printing
#   + SD Card
#       + Start printing
#       + Resume printing
#       + Pause printing
#       + Cancel printing
#       + ... (files)
#   + Control
#       + Home All
#       + Home Z
#       + Home X/Y
#       + Z Tilt
#       + Quad Gantry Lvl
#       + Bed Mesh
#       + Steppers off
#       + Fan: OFF
#       + Fan speed: 000%
#       + Lights: OFF
#       + Lights: 000%
#       + Move 10mm
#           + Move X:000.0
#           + Move Y:000.0
#           + Move Z:000.0
#           + Move E:+000.0
#       + Move 1mm
#           + Move X:000.0
#           + Move Y:000.0
#           + Move Z:000.0
#           + Move E:+000.0
#       + Move 0.1mm
#           + Move X:000.0
#           + Move Y:000.0
#           + Move Z:000.0
#           + Move E:+000.0
#   + Temperature
#       + Ex0:000 (0000)
#       + Ex1:000 (0000)
#       + Bed:000 (0000)
#       + Preheat PLA
#           + Preheat all
#           + Preheat hotend
#           + Preheat hotbed
#       + Preheat ABS
#           + Preheat all
#           + Preheat hotend
#           + Preheat hotbed
#       + Cooldown
#           + Cooldown all
#           + Cooldown hotend
#           + Cooldown hotbed
#   + Filament
#       + Ex0:000 (0000)
#       + Load Fil. fast
#       + Load Fil. slow
#       + Unload Fil.fast
#       + Unload Fil.slow
#       + Feed: 000.0
#   + Setup
#       + Save config
#       + Restart
#           + Restart host
#           + Restart FW
#       + PID tuning
#           + Tune Hotend PID
#           + Tune Hotbed PID
#       + Calibration
#           + Delta cal. auto
#           + Delta cal. man
#               + Start probing
#               + Move Z: 000.00
#               + Test Z: ++
#               + Accept
#               + Abort
#           + Bed probe
#       + Dump parameters



### menu octoprint ###
[menu __main __octoprint]
type: disabled # <------


### menu virtual sdcard ###
[menu __main __sdcard]
type: vsdlist
enable: {('virtual_sdcard' in printer) and not printer.idle_timeout.state == "Printing"} # <------
name: SD Card


### menu control ###

[menu __main __control __screws_tilt_calculate]
type: command
enable: {not printer.idle_timeout.state == "Printing" and ('screws_tilt_adjust' in printer)}
name: Screw Tilt
gcode: SCREWS_TILT_CALCULATE




### menu temperature ###


[menu __main __temp __preheat_pla __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: HEATSOAK
gcode:
    M140 S60
    M104 S120  # <---------
    HEATSOAK   # <---------


[menu __main __temp __preheat_pla __hotend]
type: command
enable: {'extruder' in printer}
name: hotend 200c
gcode: 
    M104 S200    # <-----


[menu __main __temp __preheat_abs __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: HEATSOAK
    M140 S110
    M104 S150   # <-----
    HEATSOAK   # <---------

[menu __main __temp __preheat_abs __hotbed]
type: command
enable: {'heater_bed' in printer}
name: bed 110c
gcode: 
    M140 S110


[menu __main __temp __preheat_abs __hotend]
type: command
enable: {'extruder' in printer}
name: hotend 245c
gcode: 
    M104 S245   # <-----



### menu filament ###

### menu setup ###
[menu __main __setup]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Setup

[menu __main __setup __save_config]
type: command
name: Save config
gcode: SAVE_CONFIG

[menu __main __setup __restart]
type: list
name: Restart

[menu __main __setup __restart __host_restart]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Restart host
gcode: RESTART

[menu __main __setup __restart __firmware_restart]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Restart FW
gcode: FIRMWARE_RESTART

[menu __main __setup __tuning]
type: list
name: PID tuning

[menu __main __setup __tuning __hotend_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('extruder' in printer)}
name: Tune Hotend PID
gcode: PID_CALIBRATE HEATER=extruder TARGET=210 WRITE_FILE=1

[menu __main __setup __tuning __hotbed_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('heater_bed' in printer)}
name: Tune Hotbed PID
gcode: PID_CALIBRATE HEATER=heater_bed TARGET=60 WRITE_FILE=1

[menu __main __setup __calib]
type: list
name: Calibration

[menu __main __setup __calib __delta_calib_auto]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('delta_calibrate' in printer)}
name: Delta cal. auto
gcode:
    G28
    DELTA_CALIBRATE

[menu __main __setup __calib __delta_calib_man]
type: list
enable: {(not printer.idle_timeout.state == "Printing") and ('delta_calibrate' in printer)}
name: Delta cal. man

[menu __main __setup __calib __bedprobe]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('probe' in printer)}
name: Bed probe
gcode: PROBE

[menu __main __setup __calib __delta_calib_man __start]
type: command
name: Start probing
gcode:
    G28
    DELTA_CALIBRATE METHOD=manual

[menu __main __setup __calib __delta_calib_man __move_z]
type: input
name: Move Z: {'%03.2f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_step: 1
realtime: True
gcode:
    {%- if menu.event == 'change' -%}
        G1 Z{'%.2f' % menu.input}
    {%- elif menu.event == 'long_click' -%}
        G1 Z{'%.2f' % menu.input}
        SAVE_GCODE_STATE NAME=__move__axis
        G91
        G1 Z2
        G1 Z-2
        RESTORE_GCODE_STATE NAME=__move__axis
    {%- endif -%}

[menu __main __setup __calib __delta_calib_man __test_z]
type: input
name: Test Z: {['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
input: 6
input_min: 0
input_max: 11
input_step: 1
gcode:
    {%- if menu.event == 'long_click' -%}
        TESTZ Z={['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
    {%- endif -%}

[menu __main __setup __calib __delta_calib_man __accept]
type: command
name: Accept
gcode: ACCEPT

[menu __main __setup __calib __delta_calib_man __abort]
type: command
name: Abort
gcode: ABORT

[menu __main __setup __dump]
type: command
name: Dump parameters
gcode:
   {% for name1 in printer %}
      {% for name2 in printer[name1] %}
         { action_respond_info("printer['%s'].%s = %s"
                               % (name1, name2, printer[name1][name2])) }
      {% else %}
         { action_respond_info("printer['%s'] = %s" % (name1, printer[name1])) }
      {% endfor %}
   {% endfor %}
