#####################################################################
#  
#  File: nudge_macros.cfg
#  Version: 1.0
#  Last modification date: February 27, 2025
#  Last modified by: Joseph Greiner
#
#  License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
#
#####################################################################
#
#  This file contains the [tool_calibrate] definitions and macros
#  used with Nudge by zruncho
# 
#  github: https://github.com/zruncho3d/nudge
#
#  Configuration sections within this file:
#
#      [tools_calibrate]
#
#  Macros within this file:
#
#      TC_GET_PROBE_POSITION
#      TC_FIND_ALL_TOOL_OFFSETS
#      _NUDGE_FIND_TOOL_BASELINE
#      _NUDGE_MOVE_OVER_PROBE
#      _TC_SHOW_LAST_RESULT
#      _TC_SAVE_PROBE_POSITION
#      _TC_UPDATE_OFFSETS
#
#####################################################################

#####################################################################
#   tool_calibrate definition
#####################################################################

[tools_calibrate]
# Nudge config
#
# These two values should be changed or checked.
#
# 'pin' should reference the pin used for Nudge.
pin: PG6
# 'spread' is the amount of X or Y motion used in the probing sequence.
# Think of it as the clearance from the center, to accomodate the pin's diameter and any
# initial starting-point inaccuracy.
# For larger pins (5mm), increase this to 3.5mm+.
#   Increase this and/or improve the accuracy of the starting point if the probe triggers too early.
#   Decrease this and/or improve the accuracy of the starting point if the motion
#     pushes your printer beyond the allowed travel amount.
spread: 3
#
# Config below is unlikely to need changes.
#
# 'lower_z' is the distance below the probe tip in Z, used to ensure a hit.
#   Increase this to have more of the nozzle hit during probing.
#   Values as low as 0.1mm may work, and will minimize the need for overtravel.
lower_z: 0.2
travel_speed: 100
speed: 2.5
lift_speed: 4
final_lift_z: 4
sample_retract_dist: 3
samples_tolerance: 0.050
samples: 3
samples_result: median
trigger_to_bottom_z: 3
# If using a built-in Z probe to find the Nudge pin top, reference it here.
# This is only relevant for the flipped configuration, to provide resistance to pushing, for Tap/Boop/Poke/etc.
# Most should leave this commented out.
#probe: probe

#####################################################################
#   TC_GET_PROBE_POSITION
#####################################################################

[gcode_macro TC_GET_PROBE_POSITION]
description: Locate the coordinates of the sensor and save to disk. Position tool over nudge probe and run this command.
gcode:
  TOOL_LOCATE_SENSOR
  _TC_SAVE_PROBE_POSITION

#####################################################################
#   TC_FIND_ALL_TOOL_OFFSETS
#####################################################################

[gcode_macro TC_FIND_ALL_TOOL_OFFSETS]
description: Calibrates the offsetts of all tools on the printer, one at a time.
variable_probe_temp: 150
gcode:
  {% set svf = printer.save_variables.variables %}
  {% set num_tools = printer.toolchanger.tool_numbers|length|int %}
  RESPOND MSG="Found {num_tools - 1 } tools on printer to set the offsets for."
  # Home the printer if not already done.
  SMART_HOMING
  # Loop through the baseline tool and all other tools.
  {% for i in range(num_tools) %}
    # Switch to the tool for processing.
    T{i}
    # Heat up the toolhead to the probing temperature.
    M109 S{probe_temp} T{i}
    # If we are at T0, this is our baseline tool. lets get that squared away.
    {% if i == 0 %}
      # Ensure ALL offsets are cleared for T0 probing.
      SET_GCODE_OFFSET X=0 Y=0 Z=0
      # Get the baseline for T0 position relative to the nudge probe.
      _NUDGE_FIND_TOOL_BASELINE
      # Let the user know that the baseline measurements have been processed.
      _TC_SHOW_LAST_RESULT
      RESPOND MSG="T0 baseline coordinates are:"
      # Cool off the toolhead if we are not printing.
      {% if printer.idle_timeout.state != "Printing" %}
        M104 S0 T{i}
      {% endif %}
    {% else %}
      # Move the active tool over the probe.
      _NUDGE_MOVE_OVER_PROBE
      # Calibrate the offset.
      TOOL_CALIBRATE_TOOL_OFFSET
      # Update and save tool offsets.
      _TC_UPDATE_OFFSETS TOOL={i}
      RESPOND MSG="Offsets for T{i} updated to:"
      RESPOND MSG="Tool T{i} finished processing."
      {% if printer.idle_timeout.state != "Printing" %}
        M104 S0 T{i}
      {% endif %}
    {% endif %}
  {% endfor %}
  # Switch to T0.
  T0
  {% if printer.idle_timeout.state != "Printing" %}
    # Move to the center of the bed.
    G0 X{printer.configfile.config.stepper_x.position_max|float / 2} Y{printer.configfile.config.stepper_y.position_max|float / 2} F9000
  {% endif %}

#####################################################################
#   _NUDGE_FIND_TOOL_BASELINE
#####################################################################

[gcode_macro _NUDGE_FIND_TOOL_BASELINE]
description: Find the location of the probe for the tool head.
gcode:
  _NUDGE_MOVE_OVER_PROBE
  TOOL_LOCATE_SENSOR

#####################################################################
#   _NUDGE_MOVE_OVER_PROBE
#####################################################################

[gcode_macro _NUDGE_MOVE_OVER_PROBE]
description: Move tool head to probing position.
gcode:
  {% set svf = printer.save_variables.variables %}
  # Pull Nudge location from the save file position
  G0 X{svf.nudge_position_x} Y{svf.nudge_position_y} Z{svf.nudge_position_z} F9000

#####################################################################
#   _TC_SHOW_LAST_RESULT
#####################################################################

[gcode_macro _TC_SHOW_LAST_RESULT]
description: Show the last results from tools_calibrate or tool_locate_sensor
gcode:
    RESPOND MSG="X: {printer.tools_calibrate.last_x_result|float|round(3)}  Y: {printer.tools_calibrate.last_y_result|float|round(3)} Z: {printer.tools_calibrate.last_z_result|float|round(3) + 3.000}"

#####################################################################
#   _TC_SAVE_PROBE_POSITION
#####################################################################

[gcode_macro _TC_SAVE_PROBE_POSITION]
description: Update the nudge position from the last probe sequesnce.
gcode:
    {% set svf = printer.save_variables.variables %}
    # Update the variables that hold the offsets
    SAVE_VARIABLE VARIABLE=nudge_position_x VALUE={printer.tools_calibrate.last_x_result|float|round(3)}
    SAVE_VARIABLE VARIABLE=nudge_position_y VALUE={printer.tools_calibrate.last_y_result|float|round(3)}
    SAVE_VARIABLE VARIABLE=nudge_position_z VALUE={printer.tools_calibrate.last_z_result|float|round(3) + 3}
    # Notify the user that the coordinates have been saved.
    RESPOND MSG="X: {printer.tools_calibrate.last_x_result|float|round(3)}  Y: {printer.tools_calibrate.last_y_result|float|round(3)} Z: {printer.tools_calibrate.last_z_result|float|round(3) + 3.000}"
    RESPOND MSG="Nudge coordinates saved as:"

#####################################################################
#   _TC_UPDATE_OFFSETS
#####################################################################

[gcode_macro _TC_UPDATE_OFFSETS]
description: Update the offsets gotten from the last probe sequesnce.
gcode:
    {% set svf = printer.save_variables.variables %}
    {% set tool_number = params.TOOL|int %}
    
    # Update the variables that hold the offsets
    SAVE_VARIABLE VARIABLE={'t' + tool_number|string + '_offset_x'} VALUE={printer.tools_calibrate.last_x_result|float|round(3)}
    SAVE_VARIABLE VARIABLE={'t' + tool_number|string + '_offset_y'} VALUE={printer.tools_calibrate.last_y_result|float|round(3)}
    SAVE_VARIABLE VARIABLE={'t' + tool_number|string + '_offset_z'} VALUE={printer.tools_calibrate.last_z_result|float|round(3)}
    # Show us the saved offsets
    RESPOND MSG="X: {printer.tools_calibrate.last_x_result|float|round(3)}  Y: {printer.tools_calibrate.last_y_result|float|round(3)} Z: {printer.tools_calibrate.last_z_result|float|round(3)}"
    # Apply the offsets to The tool
    SET_GCODE_OFFSET X={printer.tools_calibrate.last_x_result|float|round(3)} Y={printer.tools_calibrate.last_y_result|float|round(3)} Z={printer.tools_calibrate.last_z_result|float|round(3)} MOVE=1
