[delayed_gcode detecht_tool_on_boot]
initial_duration: 5
gcode: 
  INITIALIZE_TOOLCHANGER
  
[toolchanger]
t_command_restore_axis: XYZ
params_safe_toolhead_y: 120  # safe motion while toolhead is present
params_safe_shuttle_y: 20  # safe motion with no toolhead present
params_close_y: 15   # Y position right before the magnets start to grab
params_attach_y: 2   # Y position matching the large opening of the slots
params_park_z: 237   # Z position when the screws are at the bottom of the slots
params_fast_speed: 36000 # Go as fast as we can # Was 30000
params_path_speed: 7200 # Was 1500

# Parking position - per tool
#params_park_x: xxx
#params_detach_x: xxx

# Default shaper params
params_input_shaper_freq_x: 117.8
params_input_shaper_freq_y: 80.2
initialize_on: first-use
initialize_gcode:
#  DETECT_ACTIVE_TOOL_PROBE
#  _INITIALIZE_FROM_DETECTED_TOOL

before_change_gcode:
  {% set tn = "T"+(tool.tool_number|string) %}
  {% if printer["gcode_macro " + tn ] %}
     SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="''"
  {% endif %}

after_change_gcode:
  {% set tn = "T"+(tool.tool_number|string) %}
  {% if printer["gcode_macro " + tn ] %}
     SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="'c44'"
  {% endif %}
  {% if tool.params_input_shaper_freq_x %}
    SET_INPUT_SHAPER SHAPER_TYPE_X={tool.params_input_shaper_type_x} SHAPER_FREQ_X={tool.params_input_shaper_freq_x}
    SET_INPUT_SHAPER SHAPER_TYPE_Y={tool.params_input_shaper_type_y} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y}
  {% endif %}

dropoff_gcode:
  {% set park_x = tool.params_park_x|float %}
  {% set detach_x = tool.params_detach_x|float %}
  {% set fast = tool.params_fast_speed|float %}
  {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
  {% set cur_z = printer.toolhead.position[2]|float %}
  RESPOND TYPE=echo MSG='Dropping off {tool.name}'
  G90
  
  G0 Z{ [cur_z+5.0, max_z]|min } F{fast} ; 5 ; Move 1 mm up to avoid crashing into things

  G0 X{detach_x} Y{tool.params_safe_toolhead_y} F{fast}
  G0 Y{tool.params_attach_y} F{fast}

  G0 X{park_x} F{tool.params_path_speed}
  G0 Y{tool.params_close_y} F{tool.params_path_speed}
  G0 Y{tool.params_safe_shuttle_y} F{fast}
  G90

pickup_gcode:
  {% set park_x = tool.params_park_x|float %}
  {% set detach_x = tool.params_detach_x|float %}
  {% set fast = tool.params_fast_speed|float %}
  
  RESPOND TYPE=echo MSG='Picking up {tool.name}'
  #RESPOND TYPE=echo MSG='Extruder is {tool.extruder}'
  #RESPOND TYPE=echo MSG='{printer[tool.extruder]}'
  G90

  G0 Y{tool.params_safe_shuttle_y} F{fast}
  G0 X{park_x} F{fast}
  G0 Y{tool.params_close_y} F{fast}
  # Wait for temp before actually picking up the tool, while the nozzle is resting on it's pad.
  {% if tool.extruder %}
    M109 T{tool.tool_number} S{printer[tool.extruder].target|int}
  {% endif %}

  G0 Y{tool.params_attach_y} F{tool.params_path_speed}
  G0 X{detach_x} F{tool.params_path_speed}
  G0 Y{tool.params_safe_toolhead_y} F{fast}
  
  {% if 'Z' in restore_position %}
    G0 Z{restore_position.Z|float + 1 } F{fast}
  {% endif %}
  {% if 'X' in restore_position %}
    G0 X{restore_position.X} F{fast}
  {% endif %}
  {% if 'Y' in restore_position %}
    G0 Y{restore_position.Y} F{fast}
  {% endif %}
  {% if 'Z' in restore_position %}
    G0 Z{restore_position.Z} F{fast}
  {% endif %}
  
  G90

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL]
gcode:
  DETECT_ACTIVE_TOOL_PROBE
  _INITIALIZE_FROM_DETECTED_TOOL_IMPL

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL_IMPL]
gcode:
  {% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
    RESPOND TYPE=error MSG='Failed to detect active tool'
    PAUSE
  {% else %}
    { action_respond_info('initialize from detected tool')}
    INITIALIZE_TOOLCHANGER T={printer.tool_probe_endstop.active_tool_number}
  {% endif %}

# per tool probe is not yet integrated with toolchanger tool detection. This macro adds a stopgap.
[gcode_macro VERIFY_TOOL_DETECTED]
rename_existing: VERIFY_TOOL_DETECTED_ORIG
gcode:
    G4 P200
    DETECT_ACTIVE_TOOL_PROBE
    _STOP_IF_INCORRECT_TOOL {rawparams}

[gcode_macro _STOP_IF_INCORRECT_TOOL]
gcode:
    {% if T in params and printer.tool_probe_endstop.active_tool_number | int != params.T | int %}
       RESPOND TYPE=error MSG='Tool not detected, expected {params.T}. Pausing the print.'
       M112
    {% elif printer.tool_probe_endstop.active_tool_number | int == -1%}
       RESPOND TYPE=error MSG='No tool detected. Pausing the print.'
       M112
    {% endif %}
